game/export_presets.cfg
1.gitignore
boss/boss.zip
boss/boss png/boom特效png.zip
boss/boss png/boss boom! png (2).zip
boss/boss png/boss boom! png.zip
boss/boss png/boss walk png.zip
boss/boss png/boss攻击png.zip
boss/boss png/boss震地png.zip
game/export_presets.cfg
player/主角zip.zip
player/主角zip/跳跃png.zip
player/主角zip/atk 2 png (2).zip
player/主角zip/atk 2 png.zip
player/主角zip/per 防御 png.zip
player/主角zip/闪避png/闪避png.zip
.gitignore
enemy/小怪 (1).zip
